body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #292929;
}
h1 {
    color: whitesmoke;
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}

#board {
    color: white;
    height: 450px;
    width: 450px;
    background-color: #292929;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.tile {

    /* tile class is, representaion of number on the board
    will be populated by javascript  */

    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* remove text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

#digits {
    width: 448px;
    height: 50px;

    background-color: #292929;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid whitesmoke;
    margin: 2px;

    /* text */
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* remove text selecion */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.number-selected {
    background-color: grey;
}

.tile-start {
    background-color: grey;
}

/*  HORIZONTAL AND VERTICAL LINE TO DIVIDE THE GRID INTO 3*3 GRID 

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 5px solid black;
} */